button{
	border: none;
  margin: 0;
  text-decoration: none;
	cursor: pointer;
	background-color: transparent;
}
.toLeft, .toRight{
	outline: none;
}

.buttonSpace{
	width: 10%;
}

.gallery{
	width: 80%;
}

.toLeft {
	left: 0;
	transform: rotate(-90deg);
}

.toRight{
	right: 0;
	transform: rotate(90deg);
}

@media(max-width: 736px) {
	.toLeft, .toRight{
		position: fixed;
	}
	.gallery{
		object-fit: contain;
	}
}
