.modal{
	height: 100vh;
	width: 100vw;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
}

.modalOverlay{
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
}

.modalWrapper{
	width: 935px;
	height: 600px;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: row;
}

.postGallery{
	width: 55%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gallery{
	max-height: 100%;
	max-width: 100%;
}

.postText{
	width: 45%;
	overflow-y: scroll;
}

.closeIcon{
	position: absolute;
	right: 0;
	opacity: 0.5;
	outline: none;
	padding: 20px;
	cursor: pointer;
	z-index: 1;
}

@media(max-width: 1000px) {
	.modalWrapper{
		width: 90vw;
}
}

@media(max-width: 736px) {
	.modalWrapper{
		width: 90vw;
		align-items: center;
		overflow-y: scroll;
		flex-direction: column;
	}
	.postGallery{
		max-width: 100%;
		max-height: 300px;
		order: 2;
		padding: 16px 0;
	}
	.postTextHeader{
		order: 1;
	}
	.postText{
		order: 3;
		width: 100%;
	}
}
